<footer>
  <div class="footer">
    <div class="footer__scroll">
      <a href="./index.html#hero" class="footer__scroll--a">
        <img src="./assets/images/ico-arrow (1).svg" alt="arrowup" class="footer__scroll--a__img">
      </a>
    </div>
    <div class="footer__container">
      <ul class="footer__container--list">
        <li><a class="footer__container--list__link" href="https://adalab.es/">Zapatillas</a></li>
        <li><a class="footer__container--list__link" href="https://adalab.es/">ropa</a></li>
        <li><a class="footer__container--list__link" href="https://adalab.es/">niña/o</a></li>
        <li><a class="footer__container--list__link" href="https://adalab.es/">destacados</a></li>
        <li><a class="footer__container--list__link" href="https://adalab.es/">tips</a></li>
      </ul>
      <ul class="footer__container--list">
        <li><a class="footer__container--list__link" href="https://adalab.es/">twitter</a></li>
        <li><a class="footer__container--list__link" href="https://adalab.es/">instagram</a></li>
        <li><a class="footer__container--list__link" href="https://adalab.es/">youtube</a></li>
      </ul>
      <div class="footer__container--copy">
        <p>©2023</p>
        <p>we <span class="love">&#128154</span> run</p>
      </div>
    </div>
  </div>
</footer>