<section class="list" id="list">
  <p class="list__p">¡Prepáralos con tus marcas favoritas!</p>
  <h2 class="list__h2">Vuelta al cole</h2>
  <div class="list__wrapper">
  <div class="list__div">
    <img
      src="./assets/images/lpbts-mod05-img01-desk.png"
      alt="mochila"
      class="list__div--img"
    />
    <h4 class="list__div--h4">Mochilas escolares</h4>
  </div>
  <div class="list__div">
    <img
      src="./assets/images/lpbts-mod05-img04-mob.png"
      alt="estuches"
      class="list__div--img"
    />
    <h4 class="list__div--h4">Estuches</h4>
  </div>
  <div class="list__div">
    <img
      src="./assets/images/lpbts-mod05-img03-mob.png"
      alt="bolsasdeporte"
      class="list__div--img"
    />
    <h4 class="list__div--h4">Bolsas de deporte</h4>
  </div> 
  <button class="list__button">Empezar ahora</button>
</div>
 
</section>
