
.footer{
   background-color: $grey;
   
    &__scroll {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        &--a {
            transform: translateY(-50%);
            margin-left: auto;
            margin-right: auto;
            animation-duration: 3s;
            animation-name: slidein; 
            
            @keyframes slidein {
                    from {
                      margin-left: 100%;
                      
                    }
                  
                    to {
                      margin-left: 0%;
                      
                    }
                  }

            &__img {
                background-color: white;
                border-radius: 50%;
                padding: 10px;
                box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);   
            }
        }
    }

    &__container {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5vh;
        padding-bottom: 5vh;
        margin-left: auto;
        margin-right: auto;

        @media (min-width:768px) {
        flex-direction: row;
        justify-content: space-around;
        }
        @media (min-width: 1200px) {
            max-width: 950px;
           
        }
        
        &--list {
            list-style: none;
            line-height: 1.88;
            font-size: 1rem;
            text-align: center;
            padding-bottom: 5vh;
    
            @media (min-width:768px) {
                text-align: left;
            }
            &__link {
                color: white;
                font-family: $font-main;
                text-decoration: none;
                text-transform: uppercase;
                text-align: center;
            }

        }

        &--copy {
            font-family: $font-main;
            text-align: center;
            font-size: 0.875rem;
            line-height: 2.14;
            color: white;
            @media (min-width:768px) {
                order: -2;
            }
        }
    }
}





    

    
  


