.list {
    background-color: $lowgreen;

    @media (min-width: 1200px) {
        padding-left: 10vw;
        }
   
    &__p {
        font-family: $font-title;
        color: #626262;
        font-size: 0.75rem;
        font-weight: bold;
        text-align: center;
        padding-top: 3vh;

        @media (min-width: 1200px) {
            max-width: 950px;
            
            
        }
    }
    &__h2 {
        font-family: $font-title;
        text-transform: uppercase;
        font-size: 1.25rem;
        text-align: center;
        line-height: 1.5;
        
        @media (min-width: 768px) {
            font-size: 1.75rem; 
            }
        @media (min-width: 1200px) {
            max-width: 950px;   
            }
    }

    &__wrapper{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 5vw;
             }
        @media (min-width: 1200px) {
            max-width: 950px;
            }
    }

    &__div {
        margin-top: 3vh;
        display: grid;
        justify-content: center;
        grid-gap: 1vh;
       
        @media (min-width:768px) {
            &:nth-child(4n) {
                grid-column: 1/4;
                }
       } 
        &--img{
        height: 7.75rem;
        border-radius: 50%;
        box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);

        }
        &--h4 {
        font-family: $font-title;
        font-size: 0.875rem;
        text-align: center;
        }
    

        &--button {
        background-color: $green;
        color: white;
        padding: 10px;
        font-family: $font-main;
        font-size: 1.25rem;
        border-radius: 1.5em;
        border: solid $green;
        max-width: 200px;
        margin-bottom: 8vh;
        }  

        &--button:hover{
            background-color: black;
            color: $lowgreen;
            border-color: black;
            transition: all 1s ease-out;
        }
    
    }
}